[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

pyte = "*"
paramiko = "*"
appdirs = "*"
"pyqt5" = "*"
"69f01b1" = {file = "https://github.com/bjones1/pyinstaller/archive/pyqt5_fix.zip"}
xlib = "*"


[dev-packages]



[requires]

python_version = "3.6"
